*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header-bg{
    background-color: #F0FFF0;
}
.header-description>h1{
    font-weight: 600;
}
.text-orange{
    color: #FD511A;
}