*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header-bg{
    background-color: #F0FFF0;
}
.header-description>h1{
    font-weight: 600;
}
.text-orange{
    color: #FD511A;
}
.books-bg{
    background-color: #F8FFFB;
    border-radius: 15px;
    padding: 30px 0px;
}
.text-blue,.books-bg>h6{
    color: #413960;
    text-align: center;
}
.books-bg>h6{
    margin-top: 20px;
}
.books-bg:hover{
    background-color: white;
    box-shadow: 3px 6px 7px rgb(192, 192, 192);
}
.books-bg>div{
    text-align: center;
}
.books-img{
    width: 66px;
    height: 85px;
    display: inherit;
    margin: 0 auto;
}
.card{
    border: none;
    border-radius: 15px;
    box-shadow: 3px 6px 20px rgb(192, 192, 192);
}
.man-img{
    max-width: 50%;
    background-position: center;
    background-size: cover;
    margin: 0px auto;
    display: inherit;
    margin-right: 0px;
}
@media(max-width: 767.98px){
    .man-img{
        max-width: 20%;
        background-position: center;
        background-size: cover;
        margin: 0px auto;
    }
}